@{
    //ViewData["Title"] = "LOC_CountryList";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
@model DataTable;
<div class="container">
    <a class="btn btn-success" asp-controller="LOC_Country" asp-action="Add">Add Country</a>
    <br />
<table class="table table-responsive table-sm">
    <thead>
        <tr>
            <th>CountryID</th>
            <th>CountryName</th>
            <th>Created</th>
            <th>Modified</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow d in Model.Rows)
        {
            <tr>
                <td>@d["COUNTRYID"]</td>
                <td>@d["COUNTRYNAME"]</td>
                <td>@Convert.ToDateTime(d["CREATED"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(d["MODIFIED"]).ToString("dd-MM-yyyy")</td>
                <td>
                        <form method="post" asp-controller="LOC_Country" asp-action="Delete">
        <input type="hidden" name="COUNTRYID" value="@Convert.ToInt32(d["COUNTRYID"])">
        <button type="submit" class="btn btn-danger btn-xs"
        onclick="return fun1();">Delete</button></form></td>
            </tr>
        }
    </tbody>

</table>
</div>
@section Scripts
{
    <script>
               function fun1(){
                   if(confirm("Are you sure you want to delete?"))
                   return true;
                   else{
                       return false;
                   }

               }
    </script>
}
